/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



body {
    font-family: Nunito, sans-serif;
}

h1 {
    font-family: Alegreya, serif;
}

header {
    background-color: #ff8400;
    color: white;
}

#instructionsButton {
    border-radius: 0;
}

.input-group-text,
.form-select,
#typingArea {
    border-radius: 0;
}

.btn-lg {
    border: 2px solid #ff8400;
    transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out;
    margin: 5px;
}

.btn-lg:hover {
    background-color: #ff8400;
    color: #fff;
}

#resultsArea {
    box-shadow: 0 0 10px #ff8400;
    padding: 20px;
}

#resultsArea p {
    font-size: 1.1rem;
    margin-bottom: 5px;
}